name: Build & Test

permissions:
  contents: read

on:
  workflow_dispatch:
  pull_request:

jobs:
  build-and-test:
    name: Build & Test
    runs-on: ubuntu-22.04
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4
      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4
      - name: Build and test
        run: ./gradlew clean build desktopTest -PdebugConfig=false
