name: (re-usable) Create packages

permissions:
  contents: read

on:
  workflow_call:

jobs:
  package:
    name: Crete packages
    strategy:
      matrix:
        # Supported runners and hardware resources
        # https://docs.github.com/en/actions/using-github-hosted-runners/about-github-hosted-runners/about-github-hosted-runners#supported-runners-and-hardware-resources
        os: [windows-2022, macos-13]
        include:
          - os: windows-2022
            ext: exe
            artifact-name: ghd-windows
          - os: macos-13
            ext: dmg
            artifact-name: ghd-macos
    runs-on: ${{ matrix.os }}
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4
      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4
      - name: Generate release data
        id: generate-release-data
        uses: ./.github/actions/generate-release-data
      - name: Create package
        run: ./gradlew clean packageDistributionForCurrentOS -PdebugConfig=false
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.artifact-name }}-${{ steps.generate-release-data.outputs.version }}.${{ matrix.ext }}
          path: ${{ github.workspace }}/app/build/compose/binaries/main/${{ matrix.ext }}/*.${{ matrix.ext }}
          retention-days: 1

